body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #111827;
}

#dog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  max-height: 100vh;
  box-sizing: border-box;
  transform: scale(2.12);
}

#dog-image {
  max-width: 100%; 
  max-height: 100%;
  transition: opacity 0.3s;
  opacity: 1;
}

.bounding-box {
  position: absolute;
  display: none;
}

#pet-box {
  position: absolute;
  top: 99px;
  left: 181px;
  width: 160px;
  height: 180px;
  cursor: pointer;
  border: 2px solid rgba(0, 255, 13, 0); /* To visualize the box -- remove for production */
}

#bonk-box {
  position: absolute;
  top: 304px;
  left: 89px;
  width: 49px;
  height: 49px;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 255, 0); /* To visualize the box -- remove for production */
}