@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.button-container {
  position: relative;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#dog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%; 
  box-sizing: border-box;
  cursor: hand;

}

#dog-image {
  max-width: 100%;
  max-height: 100%;
  cursor: hand;
  object-fit: contain;
}

/* .iframe-container {
  display: relative;
  position: absolute;
  right: 0;
  width: 375px;
  height: 650px;
}

iframe {
  width: 100%;
  height: 100%;
} */

.button-style {
  background-color: #111827; 
  border: thin solid #9945FF;
  color: #14F195;
  padding: 12px 19.25px;
  text-align: center;
  font-size: 19px;
  margin: 3px 0.5px;
  border-radius: 7px;
}

.pet-box {
  position: absolute;
  top: 99px;
  left: 181px;
  width: 160px;
  height: 180px;
  cursor: pointer;
  border: 2px solid rgb(0, 60, 255); /* To visualize the box -- remove for production */
}

.bonk-box {
  position: absolute;
  top: 304px;
  left: 89px;
  width: 49px;
  height: 49px;
  cursor: pointer;
  border: 2px solid rgb(250, 1, 1); /* To visualize the box -- remove for production */
}